{% extends 'base.html' %}
{% load static %}
{% load customtag %}
{% block title %}
  쿠팡
{% endblock title %}

{% block content %}
  <h1>디테일</h1>

  {{ product.content|safe }}

  {% for pimage in product.productimage_set.all %}
    {% if pimage.image %}
      <div>
        <img src="{{ pimage.image.url }}" alt="#">
      </div>
    {% endif %}
  {% endfor %}

  {{product.star}}

  <span class="star-back">
    <span class="star-star" style="width:{{ product.star|total_star }}%;"></span>
  </span>
  <form action="{% url 'products:delete' product.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제">
  </form>
  <a class='btn btn-primary' href="{% url 'products:update' product.pk %}">수정</a>
  <a class='btn btn-primary' href="{% url 'products:index' %}">메인</a>
  <a class='btn btn-primary' href="{% url 'products:comment_create' product.pk %}">댓글 작성</a>

  {% for comment in comments %}
    <div class="comment">
      <h4>{{ comment.title }}</h4>
      <p>{{ comment.content }}</p>
      <div class='d-flex'>
        <div class='d-flex align-items-center me-1' style='width: 18px;'>
          <img class='w-100' src="{% static 'img/orange_star.png' %}" alt="">
        </div>
        <div>
          {{ comment.star }}.0 / 5.0
        </div>
      </div>
      <p>{{ comment.created_string }}</p>
      <div class="comment-images">
        {% for cimage in comment.comment_img.all %}
          {% if cimage.comment_image %}
            <img src="{{ cimage.comment_image.url }}" alt="{{ comment.title }}">
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}


{% endblock content %}